@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    <div>Ident: @Model.Ident</div>
    <div>Flow: @Model.Flow</div>
    <div>Email: @Model.Email</div>
    <div>Firstname: @Model.Firstname</div>
    <div>Lastname: @Model.Lastname</div>
    <div>LovesPets: @Model.Pets</div>
    <div>FavouriteSeason: @Model.Season</div>
    <div>Clinics: @Model.Clinics</div>
</p>
